<!DOCTYPE html>
<html>
<head>
	<title>Disjoint Set( Find )</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			text-align: center;
		}

		.grid {
			background: lightgreen;
			margin: auto;
		}

		p:nth-child(1) {
			padding: 10px 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size: 25px;
			text-transform: uppercase;
			color: gray;
		}

		.find {
			padding: 10px 30px;
		}

		[type="number"] {
			width: 80px;
			padding: 10px 5px 10px 30px;
			margin-right: 20px;
		}

	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p>Disjoint Set( Find )</p>
	<canvas class='grid' width="1000" height="500">
		
	</canvas>
	<div>
		<input type="number" value=1 max=12>
		<button class="find">
			Find
		</button>
	</div>
	<script>

// Main
	let ctx = document.querySelector("canvas").getContext("2d");
	let size = 10;
	let vert = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]; 
	let arr = [];
	let edge = [];
	let parent = [-1, 0, -1, 1, 1, 2, 2, 5, 3, 5, 9, 0];
	time_delay = 1000;
	let per_width = ctx.canvas.width / size;
	let per_height = ctx.canvas.height / size;
	init();
// Utility

	function init() {
		init_array();
		add_listeners();
	}

	function add_listeners() {
		document.querySelector(".find").addEventListener("click", () => {
			let value = document.querySelector("[type='number']").value;
			if(value <1 || value > 12) {
				alert("No such node exist");
				return;
			}
			if(parent[+value - 1] ==  -1) {
				alert(`${value} has no parent`)
				return;
			}
			document.querySelector(".find").disabled = true;
			find(value);
		
		})
	}
	
	async function find(e) {
		let p;
		let ins = +e;
		 while(+e != 0) {
		 		ctx.fillStyle = "red";
				ctx.beginPath();
				await sleep(time_delay).then(() => {
					ctx.arc(per_width * arr[+e - 1][1] + per_width / 2, per_height * arr[+e - 1][0] + per_height / 2, per_height / 2, 0, Math.PI * 2);
					ctx.fill();
					ctx.fillStyle = "white";
					ctx.font = "bolder 15px arial";
					ctx.fillText(+e, per_width * arr[+e - 1][1] + per_width / 2 - 5, per_height * arr[+e - 1][0] + per_height / 2 + 5);
				})
				p = +e;
				ctx.closePath();
				e = parent[+e - 1] + 1;
		}
		await sleep(time_delay).then(() => {
			alert(`${p} is the parent of ${ins}`)
		})
		await sleep(time_delay).then(() =>{
			init_array();
			document.querySelector(".find").disabled = false;
		})
		
	}
	function init_array() {
		arr = [[0, 4], [2, 2], [2, 7], [4, 0], [4, 3], [4, 6], [4, 8], [6, 8], [8, 2], [8, 6], [8, 8], [8, 4]];
		edge = [[2, 12], [4, 5], [6, 7], [9], [], [8, 10], [], [], [], [11]];

		edge.forEach((e, i) => {
			
			x1 =  arr[i][1] * per_width + per_width / 2;
			y1 = arr[i][0] * per_height + per_height / 2;
			e.forEach(edge => {
				ctx.beginPath();
					x2 =  arr[edge - 1][1] * per_width + per_width / 2;
					y2 = arr[edge - 1][0] * per_height + per_height / 2;				
					ctx.strokeStyle = "white";
					ctx.lineWidth = 4;
					ctx.moveTo(x1, y1);
					ctx.lineTo(x2, y2);
					ctx.stroke();
				ctx.closePath();
			});
			
		})

		arr.forEach((e, i) => {
			ctx.fillStyle = "black";
			ctx.beginPath();
			ctx.arc(per_width * e[1] + per_width / 2, per_height * e[0] + per_height / 2, per_height / 2, 0, Math.PI * 2);
			ctx.fill();
			ctx.fillStyle = "white";
			ctx.font = "bolder 15px arial";
			ctx.fillText(vert[i], per_width * e[1] + per_width / 2 - 5, per_height * e[0] + per_height / 2 + 5);
			ctx.closePath();
		})
	}

	function sleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}

	</script>
</body>
</html>
