<!DOCTYPE html>
<html>
<head>
	<title>Naive Search</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			text-align: center;
		}

		.grid {
			background: lightgreen;
			margin: auto;
		}

		p:nth-child(1) {
			padding: 10px 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size: 25px;
			text-transform: uppercase;
			color: gray;
		}

		.visualize {
			padding: 10px 20px;
		}


	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p>Naive Search</p>
	<canvas class='grid' width="1000" height="500">
		
	</canvas>
	<div>
		<button class="visualize">Compare</button>
	</div>
	<script>

// Main
	let ctx = document.querySelector("canvas").getContext("2d");
	let size = 10;
	let arr = [];
	let time_delay = 1000;
	let str = "ABABDABACDABABCABAB";
	size = str.length;
	let substr = "ABABCABAB";
	let ssize = substr.length;

	init();
// Utility
	function init() {
		drawArray(0, 0);
		add_listeners()
	}

	function drawArray(i, j) {
		console.log(i, j);
		pw = ctx.canvas.width / size;
		h = 70;
		gap = 10;
		for(let k = 0; k<size; k++) {
			ctx.beginPath();
			ctx.fillStyle = "black";
			if(k >= i && k <=(i + j)) {
				ctx.fillStyle = "yellow";	
			}
			ctx.fillRect(k * pw, 0 * h, pw, h);
			
			ctx.strokeStyle = "white";
			ctx.strokeRect(k * pw, 0 * h, pw, h);
			
			ctx.fillStyle = "white";
			ctx.font = "bolder 13px ubuntu"
			ctx.fillText(str[k], k * pw + pw / 2, 0 * h + h / 2);
			
			ctx.closePath();
		}
		ctx.fillStyle = "lightgreen";
		ctx.fillRect(0, 1 * h + gap, pw * size, h)
		ctx.strokeStyle = "lightgreen";
		ctx.strokeRect(0, 1 * h + gap, pw * size, h)
		for(let k = 0; k<ssize; k++) {
			ctx.beginPath();
			ctx.fillStyle = "black";
			if(k <=(j)) {
				ctx.fillStyle = "yellow";	
				if(substr[k] != str[k + i]) {
					ctx.fillStyle = "red";		
				}
			}
			ctx.fillRect((i + k) * pw, 1 * h + gap, pw, h);	
			ctx.strokeStyle = "white";
			ctx.strokeRect((i + k) * pw, 1 * h + gap, pw, h);
			
			ctx.fillStyle = "white";
			ctx.font = "bolder 13px ubuntu"
			ctx.fillText(substr[k], (i + k) * pw + pw / 2, 1 * h + h / 2 + gap);
			

				
			ctx.closePath();
		}
	}

	async function animate() {
		for(let i=0; i<(size - ssize + 1); i++) {

			for(let j=0; j<ssize; j++) {
				
				if(str[i + j] != substr[j]) {
					await sleep(time_delay).then(() => {
						drawArray(i, j);
					});
					break;
				}
				else {
					await sleep(time_delay).then(() => {
						drawArray(i, j);
					});
				}
			}
		}

		alert("Element Found at index 10");
	}

	function add_listeners() {
		document.querySelector(".visualize").addEventListener("click", () => {
			document.querySelector(".visualize").disabled = true;
			animate();
		})
	}

	function sleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}

	</script>
</body>
</html>
