<!DOCTYPE html>
<html>
<head>
	<title>Singly Linked List</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			text-align: center;
		}

		.grid {
			background: lightgreen;
			margin: auto;
		}

		p:nth-child(1) {
			padding: 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size: 25px;
			text-transform: uppercase;
			color: gray;
		}

		.controllers > button {
			padding: 10px 20px;
			margin-top: 10px;
		}

		.insert__details {
			display: flex;
			justify-content: center;
			align-self: center;
			padding: 20px;
			background: lightgreen;
		}
		.insert__details > * {
			padding: 10px;
		}

		.insert__details label {
			font-weight: bold;
			color: red;
		}

		.insert__submit > button, .insert__details input, .delete__submit > button {
			padding: 10px;
		}

		.arr__insert, .arr__delete {
			padding: 10px 20px;
			margin: 10px;
		}

	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p> Singly Linked List</p>
	<canvas class='grid' id="canvas" width="1000" height="400">
		
	</canvas>
	<div class="arr__controllers">
		<div>
			<button class="arr__insert">Insert</button>
			<button class="arr__delete">Delete</button>
		</div>		
	</div>
	<script>

// Main
	let arr = []
	let size = 10;
	time_delay = 1000;
	let max = 100;
	let ctx = document.querySelector("#canvas").getContext("2d");
	init();


// Utility
	
	function randomize_an_array() {
		arr = [];
		for(let i=0; i<size; i++) {
			arr.push(Math.floor(Math.random() * max + 1));
		}
		arr[0] = "head";
	}

	function init() {
		randomize_an_array();
		add_listeners();
		createSinglyLinkedList();
	}

	function add_listeners() {

		document.querySelector(".arr__insert").addEventListener("click", () => {
			let div__parent = document.createElement("div");
			let html = `
				<div class="insert__details">
					<label for="insert__index">
						Pointer
						<input type="number" value="0" required id="insert__index" />
					</label>

					<label for="insert__value">
						Element Value
						<input type="number" value="0" required id="insert__value" />
					</label>
					<div class="insert__submit">
						<button>
							submit
						</button>
					</div>
				</div>
			`
			div__parent.innerHTML = html;
			div__parent.style.position = "absolute";
			div__parent.style.top = "0px";
			div__parent.style.left = "0px";
			div__parent.style.width = "100%";
			div__parent.style.height = "100vh";
			div__parent.style.textAlign = 'center';
			div__parent.style.display = 'flex';
			div__parent.style.justifyContent = 'center';
			div__parent.style.alignSelf = 'center';
			div__parent.style.background = "rgba(0, 0, 0, .7)";
			
			document.querySelector("body").appendChild(div__parent);

			document.querySelector(".insert__submit").addEventListener("click", () => {
				let index = +document.querySelector("#insert__index").value;
				let value = +document.querySelector("#insert__value").value;
				div__parent.remove();
				insert_animation(value, index);
		
			})
		})

		document.querySelector(".arr__delete").addEventListener("click", () => {
			let div__parent = document.createElement("div");
			let html = `
				<div class="insert__details">
					<label for="delete__index">
						Pointer
						<input type="number" value="0" required id="delete__index" />
					</label>

					<div class="delete__submit">
						<button>
							submit
						</button>
					</div>
				</div>
			`
			div__parent.innerHTML = html;
			div__parent.style.position = "absolute";
			div__parent.style.top = "0px";
			div__parent.style.left = "0px";
			div__parent.style.width = "100%";
			div__parent.style.height = "100vh";
			div__parent.style.textAlign = 'center';
			div__parent.style.display = 'flex';
			div__parent.style.justifyContent = 'center';
			div__parent.style.alignSelf = 'center';
			div__parent.style.background = "rgba(0, 0, 0, .7)";
			
			document.querySelector("body").appendChild(div__parent);

			document.querySelector(".delete__submit").addEventListener("click", () => {
				let index = +document.querySelector("#delete__index").value;
				div__parent.remove();
				delete_animation(index);
			})
		})
	} 

	function insert_animation(value, index) {
		if(index < 0 || index > size-2) {
			alert("pointer does not exist");
		}
		else {

		}
	}

	function delete_animation(index) {
		if(index < 0 || index > size-2) {
			alert("pointer does not exist");
		}
		else {

		}
	}

	async function createSinglyLinkedList(width=70, height=40, x=20, y=100, gap=20, is_circular=false) {
			ctx.fillStyle = 'red';
			black_tik = 5;
			let count = 0;	
			for(let i=0; i<size; i++) {
				await sleep(time_delay / 32).then(() => {
					count = i;
					ctx.fillRect(x + width * count + count * gap, y, width, height);
					ctx.beginPath();
					ctx.lineWidth = '5'
					ctx.strokeStyle = 'maroon';
					ctx.moveTo(x + width * count + count * gap + width, y + height / 2);
					ctx.lineTo(x + width * count + count * gap + width + gap, y + height / 2);
					ctx.lineTo(x + width * count + count * gap + width + gap - black_tik, y + height / 2 - black_tik);
					ctx.moveTo(x + width * count + count * gap + width + gap, y + height / 2);

					ctx.lineWidth = '3'
					ctx.lineTo(x + width * count + count * gap + width + gap - black_tik, y + height / 2 + black_tik);
					ctx.stroke();
					ctx.fillStyle = 'white';
					ctx.font = 'bold 20px ubuntu';	
					ctx.fillText(arr[i], x + width * count + count * gap + 15, y + height / 2 + 5)
					ctx.fillStyle = 'red';

					// ptr index
					if(count != size - 1) {
						ctx.fillStyle = "white";
						ctx.fillRect(x + width * count + count * gap, y + 60, width -10, height -10);
						ctx.fillStyle = 'red';
						ctx.font = 'bold 20px ubuntu';	
						ctx.fillText(i, x + width * count + count * gap + 15, y + height / 2 + 5 + 55)
						ctx.fillStyle = 'red';
					}
				}) 
			}	
	
			ctx.fillStyle = 'black';
			ctx.fillRect(x + width * count + count * gap, y, width, height);
			ctx.fillStyle = 'white';
			ctx.font = 'bold 12px ubuntu';	
			ctx.fillText("nullptr", x + width * count + count * gap + 7, y + height / 2);
			ctx.fillStyle = 'lightgreen';
			count = count + 1;
			ctx.fillRect(x + width * count + count * gap - gap, y, width, height)	
			ctx.fillStyle = 'black';
			ctx.font = "bolder 20px sans-serif"
			ctx.fillText("Pointer Address", 110, height * 5.5);
		}

		function sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
		}

	</script>
</body>
</html>
