<!DOCTYPE html>
<html>
<head>
	<title>Flood Fill</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			text-align: center;
		}

		.grid {
			background: lightgreen;
			margin: auto;
			border: 2px solid black;
		}

		p:nth-child(1) {
			padding: 10px 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size: 25px;
			text-transform: uppercase;
			color: gray;
		}

		.find {
			padding: 10px 30px;
		}


	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p> Flood Fill </p>
	<canvas class='grid' width="1000" height="550">
		
	</canvas>
	<div>
		<button class="find">
			Find Shortest Distance
		</button>
	</div>
	<script>

// Main
	let ctx = document.querySelector("canvas").getContext("2d");
	size = 100;
	time_delay = 100;
	arr =[];
	parent = [];
	each_width = ctx.canvas.width / size;
	each_height = ctx.canvas.height / size;
	let start = {
		x: 0,
		y: 0
	}
	let end = {
		x: 0,
		y: 0
	}

    let flag = 1;
	init();

// Utility
	
	async function init() {
		init_array();
		draw_grid();
		document.querySelector(".find").addEventListener("click", () => {
			document.querySelector(".find").disabled = true;
			flood_fill(start.y, start.x, start.y, start.x);
		});
	}

	function init_array() {
		for(let i=0; i<size; i++) {
			let temp = [];
			for(let i=0; i<size; i++) {
				temp.push(0)
			}
			arr.push(temp)
		}

		for(let i=0; i<size; i++) {
			let temp = [];
			for(let i=0; i<size; i++) {
				temp.push([-1, -1])
			}
			parent.push(temp)
		}


		let width = 1;
		let height = Math.floor(Math.random() * (80 - 40) + 40);

		// rand * (max - min + 1) - min;

		let x = Math.floor(Math.random() * (size - 5 * width - 5 * width) + 5 *  width);
		let y = Math.floor(Math.random() * (size - height - 0) + 0);
		start.x = Math.floor(Math.random() * (x - 5 - 0));
		start.y = Math.floor(Math.random() * (size));
		end.x = Math.floor(Math.random() * (size - ( x + width + 5)) + x + width + 5);
		end.y = Math.floor(Math.random() * size);

		console.log(x, y, start, end)
		for(let i=x ; i < (x + width); i++) {
			for(let j=y ; j < (y + height); j++) {
					arr[j][i] = 1
			}	
		}

		arr[start.y][start.x] = 2;
		arr[end.y][end.x] = 3;
		
	}

	async function draw_grid() {
		for(let i=0; i<size; i++) {
			for(let j=0; j<size; j++) {
				// Obstacle 
				if(arr[i][j] == 1) {
					ctx.fillStyle = "black";
					ctx.fillRect(j * each_width, i * each_height, each_width, each_height)
				} 
				// Start
				else if(arr[i][j] == 2) {
					ctx.fillStyle = "red";
					ctx.fillRect(j * each_width, i * each_height, each_width, each_height)
				}

				// End
				else if(arr[i][j] == 3) {
					ctx.fillStyle = "yellow";
					ctx.fillRect(j * each_width, i * each_height, each_width, each_height)
				}
				//coloring
				else if(arr[i][j] == 4) {
					ctx.fillStyle = "white";
					ctx.fillRect(j * each_width, i * each_height, each_width, each_height)
				}
				ctx.fillStyle="lightgreen";
			}	
		}
	}


	async function flood_fill(x, y, xx, yy) {
		if(x < 0 || x >= size || y < 0 || y >= size) {
			return;
		}
		if(arr[x][y] == 3 || arr[x][y]==1 || arr[x][y] == 4) {
			if(arr[x][y] == 3){
				flag = 0;
				parent[x][y] = [xx, yy]
				createPath(start.y, start.x, end.y, end.x);
			}
			return;
		}	

		if(!flag) {
			return;
		}
		if(x == start.y && y == start.x) {

		}
		else {
			arr[x][y] = 4;
			parent[x][y] = [xx, yy]
			await sleep(time_delay).then(() => {
				ctx.fillStyle = "orange";
				ctx.fillRect(y * each_width, x * each_height, each_width, each_height)	
			
			})
		}

		flood_fill(x - 1, y, x, y);
		flood_fill(x, y + 1, x, y);
		flood_fill(x + 1, y, x, y);
		flood_fill(x, y - 1, x, y);
	
	}

	async function createPath(x1, y1, x2, y2) {
		[x, y] = parent[x2][y2];
		console.log(x, y)
		while( x != -1 && y != 1) {
			await sleep(time_delay).then(() => {
				if(x  == x1 && y == y1){
				}
				else {
					ctx.fillStyle = "white";
					ctx.fillRect(y * each_width, x * each_height, each_width, each_height);
					[x, y] = parent[x][y];					
				}

			})
		}
	}

	function sleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}

	</script>
</body>
</html>
