<!DOCTYPE html>
<html>
<head>
	<title>AVl Rotation</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			text-align: center;
		}

		.grid {
			background: black;
			margin: auto;
		}

		p:nth-child(1) {
			padding: 10px 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size: 25px;
			text-transform: uppercase;
			color: gray;
		}

		.opt > button {
			padding: 10px 30px;
		}

	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p>AVl Rotation</p>
	<canvas class='grid' width="1000" height="550">
		
	</canvas>
	<div class="opt">
		<button class="ll">LL Rotation</button>
		<button class="rr">RR Rotation</button>
		<button class="lr">LR Rotation</button>
		<button class="rl">RL Rotation</button>
	</div>
	<script>

// Main
	let ctx = document.querySelector("canvas").getContext("2d");
	init();
// Utility
	function init() {
		add_listeners();
	}

	function add_listeners() {
		document.querySelector(".ll").addEventListener("click", () => {
			ll_rotation();
		})

		document.querySelector(".lr").addEventListener("click", () => {
			rl_rotation();
		})

		document.querySelector(".rr").addEventListener("click", () => {
			rr_rotation();
		})

		document.querySelector(".rl").addEventListener("click", () => {
			rl_rotation();
		})
	}

	function ll_rotation() {
		
	}

	function rr_rotation() {

	}

	function lr_rotation() {

	}
	function rl_rotation() {

	}

	function sleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}

	</script>
</body>
</html>
