<!DOCTYPE html>
<html>
<head>
	<title>Sparse Matrix</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			text-align: center;
		}

		.grid {
			background: lightgreen;
			margin: auto;
		}

		p:nth-child(1) {
			padding: 10px 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size: 25px;
			text-transform: uppercase;
			color: gray;
		}

		.transpose {
			text-align: center;

		}
		.transpose > button {
			padding: 10px 40px;
			margin: 5px auto;
		}


	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p>Sparse Matrix</p>
	<canvas class='grid' width="1000" height="550">
		
	</canvas>
	<div class="transpose">
		<button class="transpose_button">Sparse Matrix</button>
		<button class="transpose_button_sec" disabled="true">Transpose</button>
	</div>
	<script>

// Main
	let ctx = document.querySelector("canvas").getContext("2d");
	let arr = [];
	let sp = []
	time_delay = 1000;
	let size =  5;
	let max = 8;
	let per_width = (ctx.canvas.width - 10) / (2 * size);
	let per_height = ctx.canvas.height / (2 * size ) ;
	init();

// Utility

	function init() {
		initialize_array();
		draw_grid();
		document.querySelector(".transpose_button").addEventListener("click", () => {
			document.querySelector(".transpose_button").disabled = true;
			document.querySelector(".transpose_button_sec").disabled = false;
			sparse();
		})

		document.querySelector(".transpose_button_sec").addEventListener("click",() => {
			document.querySelector(".transpose_button_sec").disabled = true;
			sparse_transpose();
			init_transpose();

		})
	}

	async function init_transpose() {
		counter = 2;
		for(let i=0; i< size; i++) {
			for(let j=0; j<sp.length; j++) {
				if(sp[j][1] == i) {
					await sleep(time_delay).then(() => {
						create_sparse_cell(sp[j][0], sp[j][1], sp[j][2], j + 2, false, "yellow", "red");
						create_sparse_cell(sp[j][1], sp[j][0], sp[j][2], counter++, true);
					})
					await  sleep(time_delay).then(() => {
						create_sparse_cell(sp[j][0], sp[j][1], sp[j][2], j + 2, false);
					});
				}
			}
		}
	}

	function initialize_array() {
		let p = 0;
		let mx = max;
		for(let i=0; i< size; i++) {
			let temp = []
			for(let j=0; j<size; j++) {
				if(p >= mx) {
					temp.push(0);
				}	
				else{
					let b = Math.floor(Math.random() * (2 - 0) + 0);
					temp.push(b);	
					if(b == 1) {
						p++;
					}
				}	
			}
			arr.push(temp);
		}

		for(let i=0; i<size; i++) {
			for(let j=0; j<size; j++) {
					if(arr[i][j] != 0){
						arr[i][j] = Math.floor(Math.random() * (100 - 1) + 1);
						sp.push([i, j, arr[i][j]])
					}
			}			
		}

	}
	async function sparse() {
		// ctx.fillStyle = "black";
		// ctx.fillRect(0, 0, ctx.canvas.width, ctx.canvas.height);
		let pointer = 0;
		create_sparse_cell("Row", "Col", "Value", pointer);
		pointer++;
		create_sparse_cell(size, size, max, pointer);
		pointer++;
		for(let i=0; i< size; i++) {
			for(let j=0; j<size; j++) {
				if(arr[i][j] != 0) {
					create_sparse_cell(i, j, arr[i][j], pointer);
					pointer++;
				}	
			}
		}
	}

	async function sparse_transpose() {
		ctx.fillStyle = "black";
		ctx.fillRect(0, 0, (ctx.canvas.width - 10) / 2, ctx.canvas.height);
		let pointer = 0;
		create_sparse_cell("Row", "Col", "Value", pointer, true);
		pointer++;
		create_sparse_cell(size, size, max, pointer, true);
		pointer++;
		for(let i=0; i< size; i++) {
			for(let j=0; j<size; j++) {
				if(arr[i][j] == 1) {
					create_sparse_cell("", "", "", pointer, true);
					pointer++;
				}	
			}
		}
	}
	
	async function create_sparse_cell(i, j, value, p, t=false, bc="black", c="white") {
		let x = ctx.canvas.width / 2;
		let y = ctx.canvas.height;
		if(t) {
			x = x - 5;
		}
		let p_x = x / 3;
		
		if(t) {
			x = 0;
		}
		let p_y = y / (max + 2);
		ctx.fillStyle = bc
		ctx.strokeStyle = "white";
		ctx.fillRect(x + 0 * p_x, p * p_y, p_x, p_y);	
		ctx.strokeRect(x + 0 * p_x, p * p_y, p_x, p_y);
	
		ctx.fillRect(x + 1 * p_x, p * p_y, p_x, p_y);
		ctx.strokeRect(x + 1 * p_x, p * p_y, p_x, p_y)
		
		ctx.fillRect(x + 2 * p_x, p * p_y, p_x, p_y);
		ctx.strokeRect(x + 2 * p_x, p * p_y, p_x, p_y);
		
		if(p == 0) val =  "Value"
		else if(p == 1) val = max;
		ctx.fillStyle = c;
		ctx.font = "bolder 20px arial";
		ctx.fillText(i, x + 0 * p_x + p_x/2, p * p_y + p_y / 2);

		ctx.fillText(j, x + 1 * p_x + p_x/2, p * p_y + p_y / 2);
				
		ctx.fillText(value, x + 2 * p_x + p_x/2, p * p_y + p_y / 2);
				
		ctx.stroke()

	}

	async function draw_cell(i, j, color="black", t=false) {
		ctx.fillStyle = color;
		ctx.fillRect(i * per_width, j * per_height, per_width, per_height);
		ctx.strokeStyle = "white";
		ctx.strokeRect(i * per_width, j * per_height, per_width, per_height);
		ctx.fillStyle = "white";
		if(t) {
			ctx.fillStyle = "black";
			ctx.font = "bolder 25px ubuntu";
			ctx.fillText(arr[i][j], i * per_width + per_width / 2, j * per_height + per_height / 2);
		}
		else {
			ctx.font = "bolder 20px white";
			ctx.fillText(arr[j][i], i * per_width + per_width / 2, j * per_height + per_height / 2);
		}
		ctx.stroke();
	} 

	async function draw_grid() {


		for(let i=0; i< size; i++) {
			for(let j=0; j<size; j++) {
				await draw_cell(i, j);	
			}
		}
	}

	function sleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}

	</script>
</body>
</html>
