<!DOCTYPE html>
<html>
<head>
	<title>Sudoku</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			text-align: center;
		}

		.grid {
			background: lightgreen;
			margin: auto;
		}

		p:nth-child(1) {
			padding: 10px 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size: 25px;
			text-transform: uppercase;
			color: gray;
		}


	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p> Sudoku </p>
	<canvas class='grid' width="1000" height="600">
		
	</canvas>

	<script>

// Main
	let ctx = document.querySelector("canvas").getContext("2d");
	size = 9;
	width = ctx.canvas.width / 9;
	height = ctx.canvas.height / 9;
	let sudoku = [];
	init();
// Utility

	function init() {
		create_sudoku();
		create_grid();
	}

	function create_sudoku() {
		for(let i=0; i<size; i++) {
			let temp = [];
			for(let j=0; j<size; j++) {
				temp.push(0);
			}
			sudoku.push(temp);
		}
	}

	function create_grid() {
		let p =1;
		for(let i=0; i< size; i++) {
			for(let j=0; j< size; j++) {
				ctx.strokeStyle = "black";
				ctx.strokeRect(i * width, j*height, width * p, height * p);
				ctx.stroke();
			}
		}

		p = 3;
		for(let i=0; i< size; i+=p) {
			for(let j=0; j< size; j+=p) {
				ctx.strokeStyle = "black";
				ctx.lineWidth = 10;
				ctx.strokeRect(i * width, j*height, width * p, height * p);
				ctx.stroke();
			}
		}
	}

	function sleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}

	</script>
</body>
</html>
