<!DOCTYPE html>
<html>
<head>
	<title>Time Complexity</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			min-height: 100vh;
			background: lightgreen;
		}

		.grid {

		}

		p:nth-child(1) {
			padding: 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size:40px;
			color: white;
			font-family: monospace;
			font-weight: bolder;
			text-shadow: -2px 5px 3px rgba(0, 0, 0, .2);
			text-transform: uppercase;
		}


	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p> Time Complexity </p>
	<div class='grid'>
		
	</div>

	<script>

// Main


	</script>
</body>
</html>
