<!DOCTYPE html>
<html>
<head>
	<title>Tree</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		.grid {
			width: 400px;
			position: relative;
			height: 400px;
			background: black;
			margin: 40px auto;
			display: flex;
			flex-wrap: wrap;
			outline: 2px solid black;
		}

		p:nth-child(1) {
			padding: 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size: 20px;
		}


	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p> Tree </p>
	<div class='grid'>
		

	</div>

	<script>

	// Main
	// {

		



	// }

	</script>
</body>
</html>
