<!DOCTYPE html>
<html>
<head>
	<title>Rain Water Trapping</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			text-align: center;
		}

		.grid {
			background: lightgreen;
			margin: auto;
		}

		p:nth-child(1) {
			padding: 10px 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size: 25px;
			text-transform: uppercase;
			color: gray;
		}

		.visualise {
			padding: 10px 20px;
		}

		.max {
			padding: 10px 20px;
			background: lightgreen;
		}

	</style>	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p>Rain Water Trapping</p>
	<canvas class='grid' width="1000" height="550">
		
	</canvas>
	<div>
		<span style="border: 1px solid green;padding: 10px 1px 10px 20px;">Water Trapped &nbsp;<span class="max"></span></span>
		<button class="visualise">Visualize</button>
	</div>
	<script>

// Main
	let ctx = document.querySelector("canvas").getContext("2d");
	let size = 20;
	let arr = [];
	time_delay = 300;
	pre = [];
	let max = 10;
	let area = 0;
	next = [];
	ans = [];
	init();

// Utility
	


	function init() {
		min = 1;
		for(let i=0; i<size; i++) {
			p = Math.floor(Math.random() * (max - min + 1) + min);
			arr.push(p);
		}

		let ma = 0;

		for(let i=0; i<size; i++) {
			if(arr[ma] > arr[i]) {

			}
			else {
				ma = i;
			}
			pre.push(ma);
			
		}

		ma = size - 1;
		for(let i=0; i<size; i++) {
			next.push(0);
			ans.push(0)
		}
		for(let i=size - 1; i>-1; i--) {
			if(arr[ma] > arr[i]) {

			}
			else {
				ma = i;
			}
			next[i] = ma;
			
		}

		for(let i=0; i<size; i++) {
			if(arr[next[i]] < arr[pre[i]]) {
				ans[i] = arr[next[i]] - arr[i];
			}
			else {
				ans[i] = arr[pre[i]] - arr[i];	
			}
		}

		createHistogram();
		add_listeners();
	}


	function add_listeners() {
		document.querySelector(".visualise").addEventListener("click", () => {
			document.querySelector(".visualise").disabled = true;
			document.querySelector(".max").innerText = area;
			async function get() {
				for(let i=0; i<size; i++) {
					await sleep(time_delay).then(() => {
						pw = ctx.canvas.width / size;
						width = pw;
						height = ((arr[i] + ans[i]) / max) * ctx.canvas.height;
						y = ctx.canvas.height - height;
						ctx.beginPath();
						ctx.fillStyle = "blue";	
						ctx.fillRect(i * pw, y , width, height);

						// ctx.strokeStyle = "white";		
						// ctx.lineWidth  = 2;
						// ctx.strokeRect((pre[i] + 1) * pw, y, width, height);
						// if(ans[i] > area) {
						// 	area = ans[i];
						area = area + arr[i] * ans[i];
						document.querySelector(".max").innerText = area;
						// }
						createHistogram();
					})
					// await sleep(time_delay).then(() => {
						
					// });
				}
			}

			get();
		})
	}

	async function createCell(i, height) {
		pw = ctx.canvas.width / size;
		gap = 1;
		y = ctx.canvas.height - height;
		ctx.beginPath();
		ctx.fillStyle = "gray";	
		ctx.fillRect(i * pw, y , pw, height);

		ctx.strokeStyle = "white";		
		ctx.lineWidth  = 2;
		ctx.strokeRect(i * pw, y, pw, height);
	}

	async function createHistogram() {
		for(let i=0; i<size; i++) {
			createCell(i, (arr[i] / max) * ctx.canvas.height);
		}
	}

	function sleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}

	</script>
</body>
</html>
