<!DOCTYPE html>
<html>
<head>
	<title>Fractional Knapsack</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			text-align: center;
		}

		.grid {
			background: lightgreen;
			margin: auto;
		}

		p:nth-child(1) {
			padding: 10px 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size: 25px;
			text-transform: uppercase;
			color: gray;
		}

		.calc {
			padding: 10px 30px;
		}

		.number {
			width: 100px;
			padding: 10px 1px 10px 20px;
			margin-right: 20px;
		}

	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p>Fractional Knapsack</p>
	<canvas class='grid' width="1000" height="550">
		
	</canvas>
	<div>
		<input type="number" class="number" min="0" value="0" />
		<button class="calc">
			Calculate Max Profit	
		</button>
	</div>
	<script>

// Main
	let ctx = document.querySelector("canvas").getContext("2d");
	let size = 10;
	let w = [];
	let v = [];
	let weight = [];
	let mem = [];
	let per_width = ctx.canvas.width / size;
	let per_height = ctx.canvas.height / size;
	init();	
// Utility
	
	function init() {
		init_array();
		draw_arr();
		add_listeners();
	}

	function init_array() {
		min_weight = 1;
		max_weight =  10;
		min_value = 1;
		max_value = 10;

		for(let i=0; i<size; i++) {
			w.push(Math.floor(Math.random() * (max_weight + 1 - min_weight) + (min_weight)));
			v.push(Math.floor(Math.random() * (max_value + 1 - min_value) + (min_value)));
		}
	}

	function add_listeners() {
		document.querySelector(".calc").addEventListener("click", () => {
			weight = +document.querySelector(".number").value;
			if(weight < 0) {
				alert("keep weight greater than 0");
			}
			else {
				document.querySelector(".calc").disabled = true;
				knapsack();
			}
		})
	}


	function draw_arr() {
		let pw = per_width * (size / (size + 1));
		let height = 50;
		
		ctx.fillStyle = "red";
		ctx.fillRect(0, ctx.canvas.height - height, per_width, height);
		ctx.fillStyle = "white";
		ctx.font = "bolder 15px arial";
		ctx.fillText("Weight", pw / 2 - 20, ctx.canvas.height - height / 2 + 5);
		
		ctx.fillStyle = "red";
		ctx.fillRect(0, ctx.canvas.height - 2 * height - 1, per_width, height);
		ctx.fillStyle = "white";
		ctx.font = "bolder 15px arial";
		ctx.fillText("Value", pw / 2 - 20, ctx.canvas.height - 2 * height / 2 - 20);

		ctx.fillStyle = "red";
		ctx.fillRect(0, ctx.canvas.height - 3 * height - 2, per_width, height);
		ctx.fillStyle = "white";
		ctx.font = "bolder 15px arial";
		ctx.fillText("V / W", pw / 2 - 20, ctx.canvas.height - 3 * height / 2 - 45);

		for(let i=0; i<size; i++) {
			ctx.beginPath();
			ctx.fillStyle = "black";
			ctx.fillRect(pw * (i + 1), ctx.canvas.height - height, per_width, height);
			ctx.fillStyle = "white";
			ctx.strokeStyle = "white";
			ctx.strokeRect(pw * (i + 1), ctx.canvas.height - height, per_width, height)
			ctx.font = "bolder 15px arial";
			ctx.fillText(w[i], pw * (i + 1) +  pw / 2 - 20, ctx.canvas.height - height / 2 + 5);
			
			ctx.fillStyle = "black";
			ctx.fillRect(pw * (i + 1), ctx.canvas.height - 2 * height - 1, per_width, height);
			ctx.fillStyle = "white";
			ctx.strokeStyle = "white";
			ctx.strokeRect(pw * (i + 1), ctx.canvas.height - 2 * height - 1, per_width, height)
			ctx.font = "bolder 15px arial";
			ctx.fillText(v[i], pw * (i + 1) + pw / 2 - 20, ctx.canvas.height - 2 * height / 2 - 20);
			ctx.closePath();

			ctx.fillStyle = "black";
			ctx.fillRect(pw * (i + 1), ctx.canvas.height - 3 * height - 2, per_width, height);
			ctx.fillStyle = "white";
			ctx.strokeStyle = "white";
			ctx.strokeRect(pw * (i + 1), ctx.canvas.height - 3 * height - 2, per_width, height)
			ctx.font = "bolder 15px arial";
			ctx.fillText((v[i] / w[i]).toPrecision(3), pw * (i + 1) + pw / 2 - 20, ctx.canvas.height - 3 * height / 2 - 45);
			ctx.closePath();
		}
	}

	function knapsack() {
		let pw = per_width * (size / (size + 1));
		let height = 50;
		let gap = 5;
		ctx.fillStyle = "red";
		ctx.fillRect(0, gap, per_width, height);
		ctx.fillStyle = "white";
		ctx.font = "bolder 15px arial";
		ctx.fillText("V / W", pw / 2 - 20, gap + height / 2);
		
		let vw = [];

		for(let i=0; i<w.length; i++) {
			vw.push([+(v[i] / w[i]).toPrecision(2), i]);
		}
		console.log(vw);

		vw.sort((x, y) => y[0] - x[0]);

		for(let i=0; i< size; i++) {
			ctx.beginPath();
			ctx.fillStyle = "black";
			ctx.fillRect(pw * (i + 1), gap, per_width, height);
			ctx.fillStyle = "white";
			ctx.strokeStyle = "white";
			ctx.strokeRect(pw * (i + 1), gap, per_width, height)
			ctx.font = "bolder 15px arial";
			ctx.fillText(+vw[i][0], pw * (i + 1) + pw / 2 - 20, gap + height / 2);
			ctx.closePath();
		}	

		ctx.fillStyle = "red";
		ctx.fillRect(0, gap + height, per_width, height);
		ctx.fillStyle = "white";
		ctx.font = "bolder 15px arial";
		ctx.fillText("Index", pw / 2 - 20, gap + height + height / 2);
		ctx.strokeStyle = "white";
		ctx.strokeRect(0, gap + height, per_width, height);

		for(let i=0; i< size; i++) {
			ctx.beginPath();
			ctx.fillStyle = "black";
			ctx.fillRect(pw * (i + 1), gap + height, per_width, height);
			ctx.fillStyle = "white";
			ctx.strokeStyle = "white";
			ctx.strokeRect(pw * (i + 1), gap + height, per_width, height)
			ctx.font = "bolder 15px arial";
			ctx.fillText(+vw[i][1], pw * (i + 1) + pw / 2 - 20, gap + height + height / 2);
			ctx.closePath();
		}


		ctx.fillStyle = "red";
		ctx.fillRect(0, gap + 2 * height, per_width - 8, height);
		ctx.fillStyle = "white";
		ctx.font = "bolder 15px arial";
		ctx.fillText("Value", pw / 2 - 20, gap + 2 * height + height / 2);
		ctx.strokeStyle = "white";
		ctx.strokeRect(0, gap + 2 * height , per_width - 8, height);

		let i = 0;
		let ans = 0;
		while(i < +w.length && weight > 0) {
			ctx.beginPath();
			ctx.fillStyle = "black";
			ctx.fillRect(pw * (i + 1), gap + 2 * height, per_width, height);
			ctx.fillStyle = "white";
			ctx.strokeStyle = "white";
			ctx.strokeRect(pw * (i + 1), gap + 2 * height, per_width, height)
			ctx.font = "bolder 15px arial";
			if(+w[i] <= weight) {
				ctx.fillText(+v[vw[i][1]], pw * (i + 1) + pw / 2 - 20, gap + 2 * height + height / 2);
				weight -= +w[vw[i][1]];
				ans += +v[i];
			}
			else {
				ctx.fillText(+vw[i][0] * weight, pw * (i + 1) + pw / 2 - 20, gap + 2 * height + height / 2);
				ans += +vw[i][0] * weight;
				weight = 0;
				break;
			}			
			ctx.closePath();
			i++;
		}

		ctx.fillStyle = "red";
		ctx.fillRect(0, gap + 3.3 * height, per_width, height);
		ctx.fillStyle = "white";
		ctx.font = "bolder 15px arial";
		ctx.fillText("Max Value", pw / 2 - 20, gap + 3.3 * height + height / 2);
		ctx.strokeStyle = "white";
		ctx.strokeRect(0, gap + 3.3* height, per_width, height);


		i = 0;
		GAP = 11;
		ctx.fillStyle = "black";
		ctx.fillRect(pw * (i + 1) + GAP, gap + 3.3 * height, per_width, height);
		ctx.fillStyle = "white";
		ctx.strokeStyle = "white";
		ctx.strokeRect(pw * (i + 1) + GAP, gap + 3.3 * height, per_width, height)
		ctx.font = "bolder 15px arial";
		ctx.fillText(ans, pw * (i + 1) + pw / 2 - 20 + GAP, gap + 3.3 * height + height / 2);
	}

	function sleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}

	</script>
</body>
</html>
